<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kairong.vision_recognition" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.kairong.viCamera.viCameraActivity">
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name=".AutoRecgActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name=".FaceMatActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name=".AgeTestActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name=".TextCovtActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name=".WelcomeActivity"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
